Repository hmcts/ccd-test-stubs-service, pull requests merged in 2020-10, with the labels that each got.

#60 RDM-9551-TF
  dependency-check-suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-60

#62 suppress temporarily and fix tf changes
  dependency-check-suppressions.xml
  infrastructure/variables.tf
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-62

#63 RDM-9935 Migrate Test Stibs Service to use HMCTS Gradle Java Plugin
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/ccd/test/stubs/service/config/WireMockServerConfig.java
  src/main/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/StubResponseController.java
  src/main/java/uk/gov/hmcts/reform/ccd/test/stubs/service/wiremock/extension/AbstractDynamicResponseTransformer.java
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-63

#61 ACA-68: Callback to simulate completed NOC request
  wiremock/mappings/ccd/callback_returning_simulated_completed_noc_request.json
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-61
