Repository hmcts/ccd-test-stubs-service, pull requests merged in 2020-11, with the labels that each got.

#65 RDM-9877: Support EXUI on CCD IDAM Stub Service
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/StubResponseControllerTest.java
  src/main/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/StubResponseController.java
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-65

#67 Update Chart.yaml
  build.gradle
  charts/ccd-test-stubs-service/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/ReadinessHealthIndicator.java
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-67

#66 ACA-68: Update simulate completed NOC request
  wiremock/mappings/ccd/callback_returning_simulated_completed_noc_request.json
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-66
