Repository hmcts/ccd-test-stubs-service, pull requests merged in 2020-08, with the labels that each got.

#56 RDM-9118 FTA organisation adjustment for RDM-8842
  build.gradle
  dependency-check-suppressions.xml
  wiremock/mappings/prd/prd_organisation_users.json
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-56

#53 Rdm 8784 helm renovate
  .github/renovate.json
  charts/ccd-test-stubs-service/Chart.yaml
  charts/ccd-test-stubs-service/requirements.yaml
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-53

#59 rm-state
  infrastructure/state.tf
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-59
