Repository hmcts/ccd-test-stubs-service, pull requests merged in 2024-08, with the labels that each got.

#300 enable fortify failure
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-300

#297 CCD-5367 Task Completion - CCD Send Header from callback response to EXUI
  src/main/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/StubResponseController.java
  src/test/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/StubResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/test/stubs/service/util/HeadersProvider.java
  src/test/java/uk/gov/hmcts/reform/ccd/test/stubs/service/util/HttpHeadersProvider.java
  wiremock/mappings/ccd/callback_about_to_submit.json
  wiremock/mappings/ccd/callback_about_to_submit_party_info_modified.json
  wiremock/mappings/ccd/callback_submitted.json
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-297

#303 add test for sonar coverage
  src/main/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/StubResponseController.java
  src/test/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/StubResponseControllerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-303

#304 Fix sonar coverage 1
  src/test/java/uk/gov/hmcts/reform/ccd/test/stubs/service/controllers/StubResponseControllerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-test-stubs-service-pr-304
